<div id="tag-header" class="row">
  <div class="col-md-8">

    <h1>About Candy Basket</h1>
    <p>
      The candy basket software is modelled on 'del.icio.us' but
      with a focus private use within an organization. Candy
      Basket was developed as a result of PiPP's work on changing
      the political environment in the Pacific. This work changed
      the way that PiPP looked at monitoring information, taking
      it away from more traditional methods and focussing more on
      Outcome Mapping.
    </p>
    
    <p>The source code of the Candy Basket project will be freely
      available. It is extensively documented making it as easy as
      possible for anyone interested in using, deploying and
      developing Candy Basket to do so.</p>

    <ul>
      <li>The <a href="/help/user-guide.html" target="_blank">user
	documentation</a> contains information for users and describes
	how to use the tool.</li>
      <li>The <a href="/help/administrator-guide.html"
	         target="_blank">administrator's documentation</a> is for
	anyone with the necessary technical skills to deploy the
	application within their organization</li>
      <li>The  <a href="/help/developer-guide.html" target="_blank">developer's
      documentation</a> should be read in full by anyone wanting to
      contribute to the development of Candy Basket.</li>
    </ul>

    <p>You can also download a hard copy PDF document of all the above documentation <a href="/help/CandyBasket.pdf">here</p>
  </div>
</div>
