<div id="tag-header" class="row">
  <div class="col-md-3">
    <h1>Candy Basket</h1>

    <p class="text-muted">Enter tags to filter results. Use commas to separate tags</p>

    <taglist tag-data="tags">
      <input id="tagsinput" ng-model="tags1"
	     typeahead="tag for tag in tagsData.tags | filter:$viewValue"/>
    </taglist>
  </div>
  <div class="col-md-9 tag-cloud">
    <tagcloud
      id="tagscloud"
      cloud-data="tagsData.tagsCounts"
      on-click="tagOnClickFunction(element)"
      on-hover="tagOnHoverFunction(element)">
      <svg></svg>
    </tagcloud>
  </div>
</div>

<div class="row combined-ops" ng-controller="CandyModal">  

  <div class="col-md-3">
    <button class="operations" ng-click="open('edit')"
            tooltip="Edit..." tooltip-placement="bottom">
      <span class="glyphicon glyphicon-edit ops-edit"
            ng-include="'views/candy-save-modal.html'"></span>
    </button>

    <button class="operations" ng-click="open('delete')"
            tooltip="Delete..." tooltip-placement="bottom">
      <span class="glyphicon glyphicon-minus ops-delete"
            ng-include="'views/candy-delete-modal.html'"></span>
    </button>

    <button class="operations" ng-click="open('create')"
            tooltip="New..." tooltip-placement="bottom">
      <span class="glyphicon glyphicon-plus ops-add" 
            ng-include="'views/candy-save-modal.html'"></span>
    </button>        

    <button class="operations" ng-click="changeSlide(0)"
            tooltip="Go to the start" tooltip-placement="bottom">
      <span class="glyphicon glyphicon-chevron-left ops-nav"></span>
    </button>

    <button class="operations" ng-click="changeSlide(candies.length)"
            tooltip="Go to the last candy" tooltip-placement="bottom">
      <span class="glyphicon glyphicon-chevron-right ops-nav"></span>
    </button>
  </div>


  <div class="col-md-6">
    <div class="slider" 
				 tooltip-html-unsafe="{{sliderRange|dateRangeFormatter}}"
				 tooltip-placement="bottom"
         ui-slider="slider.options"
         min="{{sliderMin}}"
         max="{{sliderMax}}"
         step="1"
         ng-model="sliderRange"></div>
  </div>

  <!--  div class="col-md-3 slider-date-range">
    {{sliderRange|dateRangeFormatter}}
  </div -->

</div>

<div class="row">
  <div class="col-md-12">
    <display-percentages percentages="ccsTagStatus"></display-percentages>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <pipp-timeline-j-s source="timelineData"
		       height="600"
		       width="97.5%"
		       start-zoom-adjust="0"
		       start-at-end="false"
		       start-at-slide="0"
		       hash-bookmark="false"
		       lang="en"
		       thumbnail-url="http://vila.pacificpolicy.org:3039/"
		       state="timelineValues"
		       debug="false"></pipp-timeline-j-s>
  </div>
</div>
