<div id="tag-header" class="row">
  <div class="col-md-3">
    <h1>Candy Basket</h1>

    <p class="text-muted">Enter tags to filter results. Use commas to separate tags</p>

    <taglist tag-data="tags">
      <input id="tagsinput" ng-model="tags1"
	     typeahead="tag for tag in tags_data.tags | filter:$viewValue"/>
    </taglist>
  </div>
  <div class="col-md-9 tag-cloud">
    <tagcloud
      id="tagscloud"
      cloud-data="tags_data.tags_counts"
      on-click="tagOnClickFunction(element)"
      on-hover="tagOnHoverFunction(element)">
      <svg></svg>
    </tagcloud>
  </div>
</div>
<div class="row combined-ops" ng-controller="CandyModal">  

  <button class="operations" ng-click="open('edit')">
    <span class="glyphicon glyphicon-edit ops-edit" tooltip="Edit..." tooltip-placement="bottom" ng-include="'views/candy-save-modal.html'"></span>
  </button>

  <button class="operations" ng-click="open('delete')">
    <span class="glyphicon glyphicon-minus ops-delete" tooltip="Delete..." tooltip-placement="bottom" ng-include="'views/candy-delete-modal.html'"></span>
  </button>

  <button class="operations" ng-click="open('create')">
    <span class="glyphicon glyphicon-plus ops-add" tooltip="New..." tooltip-placement="bottom" ng-include="'views/candy-save-modal.html'"></span>
  </button>        

  <button class="operations" tooltip="Go to the start" tooltip-placement="bottom"
	  ng-click="changeSlide(0)">
    <span class="glyphicon glyphicon-chevron-left ops-nav"></span>
  </button>

  <button class="operations" tooltip="Go to the last candy" tooltip-placement="bottom"
	  ng-click="changeSlide(candies.length)">
    <span class="glyphicon glyphicon-chevron-right ops-nav"></span>
  </button>

  <!-- <span style="display:inline-table;" class="ops-date-picker" ng-include="'views/date-slider.html'"></span> -->
</div>
<div class="row">
  <div class="col-md-12" tooltip-html-unsafe="{{displayPercentages()}}" tooltip-placement="bottom">
    <progress>
      <bar ng-repeat="s in ccs_tag_status"
	   value="s.value" type="{{s.type}}"></bar>
    </progress>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <pipp-timeline-j-s source="timelineData"
		       height="600"
		       width="97.5%"
		       start-zoom-adjust="0"
		       start-at-end="false"
		       start-at-slide="0"
		       hash-bookmark="false"
		       lang="en"
		       thumbnail-url="http://vila.pacificpolicy.org:3039/"
		       state="timelineValues"
		       debug="false"></pipp-timeline-j-s>
  </div>
</div>
