<div ng-controller="ModalDemoCtrl">
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3>Create New Source</h3>
    </div>
    <div class="modal-body">
      <ul>
        <li ng-repeat="item in items">
          <a ng-click="selected.item = item">{{ item }}</a>
        </li>
      </ul>
      Selected: <b>{{ selected.item }}</b>
    </div>

    <form novalidate="novalidate" class="form-horizontal">
      <div class="control-group">
	<label class="control-label" for="inputSource">Source:</label>
	<div class="controls">
	  <input type="text" id="inputSource" ng-model="candy.source"/>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label" for="inputTitle">Title:</label>
	<div class="controls">
	  <input type="text" id="inputTitle" ng-model="candy.title"/>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label" for="inputDescription">Description:</label>
	<div class="controls">
	    <textarea ui-tinymce name="description" rows="8" style="width: 90%;" id="inputDescription"
		   ng-model="candy.description"></textarea>
	    <div>{{tinymce}}</div>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label" for="inputTags">Tags:</label>
	<div class="controls">
	  <taglist tag-data="candy.tags" taglist-blur-timeout="250">
       	    <input ng-model="selected1" typeahead="tag for tag in tags_data.tags | filter:$viewValue"/>
	  </taglist>
	</div>
      </div>

      <div class="modal-footer">
	<button class="btn btn-primary"
		ng-click="createNewCandy()">Create New</button>
	<button class="btn btn-warning"
		ng-click="cancel()">Cancel</button>
      </div>
    </form>

  </script>

  <button class="btn" ng-click="open()">Open me!</button>
  <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>
