<div style="background: transparent;" ng-controller="tagCloudModalCtl">
  <script type="text/ng-template" id="welcome.html">
    <div class="modal-body" id="welcome-cloud" ng-controller="tagCloudModalCtl">
			<welcometagcloud 
				id="intro-tags"
				cloud-data="tags_data.tags_counts"
				on-click="tagOnClickFunction(element)"
				on-hover="tagOnHoverFunction(element)">
				<svg class="welcome"></svg>
			</tagcloud>
    </div>
    <div class="modal-footer">
			<button class="btn btn-primary"
							ng-click="cancel()">BEGIN</button>
    </div>
  </script>

  <a ng-click="open()" class="operations navbar-inverse nav">Welcome</a>

</div>
