<div class="animate" ng-controller="CreateCandyModalCtrl">
  <script type="text/ng-template" id="candy-creation-modal.html">
    <div class="modal-header">
      <h3>Create New Candy</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" novalidate="novalidate" name="candyform" role="form">
	<div class="form-group">
	  <label class="col-md-2 control-label" for="inputSource">Source:</label>
	  <div class="col-md-10">
            <div class="input-group">
	      <input class="form-control" type="url" id="inputSource" name="source"
		     ng-model="candy.source" required />
	      <div class="input-group-addon" ng-show="candyform.source.$invalid || (candyform.source.$dirty && candyform.source.$invalid)">
                <span class="required" ng-show="candyform.source.$invalid || candyform.source.$error.required">✗</span>
              </div>
	      <div class="input-group-addon ok" ng-show="candyform.source.$valid">
                ✔
              </div>
            </div>
	    <div ng-show="candyform.source.$dirty && candyform.source.$invalid">
              <span class="help-block error" ng-show="candyform.source.$error.url">Not a valid url</span>
            </div>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-md-2 control-label" for="inputTitle">Title:</label>
	  <div class="col-md-10">
            <div class="input-group">
	      <input class="form-control" type="text" id="inputTitle" name="title" 
		     ng-model="candy.title" required />
	      <div class="input-group-addon" ng-show="candyform.title.$invalid">
                <span class="required" ng-show="candyform.title.$error.required">✗</span>
	      </div>
	      <div class="input-group-addon ok" ng-show="candyform.title.$valid">
                ✔
              </div>
            </div>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-md-2 control-label"
		 for="inputDescription">Description:</label>
	  <div class="col-md-10">
            <div class="input-group">
	      <textarea ui-tinymce="tinymceOptions" name="description" rows="8" style="width: 80%;" id="inputDescription"
		        ng-model="candy.description" required></textarea>
	      <div>{{tinymce}}</div>
	      <div class="input-group-addon" ng-show="candyform.description.$invalid">
                <span class="required" ng-show="candyform.description.$error.required">✗</span>
	      </div>
	      <div class="input-group-addon ok" ng-show="candyform.description.$valid">
                ✔
              </div>
            </div>
	  </div>
	</div>
	<div class="form-group">
	  <label class="col-md-2 control-label" for="inputTags">Tags:</label>
	  <div class="col-md-10">
            <div class="input-group">
	      <taglist tag-data="candy.tags" taglist-blur-timeout="250" required>
       	        <input class="form-control" ng-model="selected1" typeahead="tag for tag in
       		       tags_data.tags | filter:$viewValue" />
	      </taglist>
            </div>
	  </div>
	</div>
      </form>
    </div>

    <div class="modal-footer">

      <div ng-show="candyform.$invalid" class="text-left alert alert-danger">
	Form <strong>is not</strong> ready for sumission.
      </div>
      <div ng-show="candyform.$valid" class="text-left alert alert-success">
	Form <strong>is ready</strong> for submission.
      </div>

      <button class="btn btn-primary"
	      ng-click="createNewCandy()"
	      ng-disabled="candyform.$invalid">Create New</button>
      <button class="btn btn-warning"
	      ng-click="cancel()">Cancel</button>
    </div>

  </script>

  <button ng-click="open()" class="operations"><span class="glyphicon glyphicon-plus"></span></button>

</div>
