<div id="tag-header" class="row">
  <div class="col-md-3">
    <h1>Candy Basket</h1>

    <p style="color: #888;">Enter tags to filter results. Use commas to separate tags</p>

    <taglist tag-data="tags">
      <input id="tagsinput" ng-model="tags1"
	     typeahead="tag for tag in tags_data.tags | filter:$viewValue"/>
    </taglist>
  </div>
  <div class="col-md-9 tag-cloud">
    <tagcloud
      id="tagscloud"
      cloud-data="tags_data.tags_counts"
      on-click="tagOnClickFunction(element)"
      on-hover="tagOnHoverFunction(element)">
      <svg></svg>
    </tagcloud>
  </div>
</div>
<div style="background-color: #f8f8f8;" class="row ops" ng-controller="CreateCandyModalCtrl">
  <span tooltip="Edit..." tooltip-placement="bottom" style="display:inline-table;" class="ops-edit" ng-include="'views/candy-detail-modal.html'"></span>
  <span tooltip="Delete..." tooltip-placement="bottom" style="display:inline-table;" class="ops-delete" ng-include="'views/candy-delete-modal.html'"></span>
  <span tooltip="New..." tooltip-placement="bottom" style="display:inline-table;" class="ops-new" ng-include="'views/candy-creation-modal.html'"></span>
  <span style="display:inline-table;" class="ops-nav">
    <button tooltip="Go to the start" tooltip-placement="bottom" style="display:inline;"
	    ng-click="changeSlide(0)" class="operations">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
  </span>
  <span style="display:inline-table;" class="ops-nav">
    <button tooltip="Go to the last candy" tooltip-placement="bottom" style="display:inline;"
	    ng-click="changeSlide(candies.length)" class="operations">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </span>
  <span style="display:inline-table;" class="ops-date-picker" ng-include="'views/date-slider.html'"></span>
</div>
<div class="row">
  <div class="col-md-12" tooltip-html-unsafe="{{displayPercentages()}}" tooltip-placement="bottom">
    <progress>
      <bar ng-repeat="s in ccs_tag_status"
	   value="s.value" type="{{s.type}}"></bar>
    </progress>
  </div>
</div>

<div class="row">
  <pipp-timeline-j-s source="timelineData"
		     height="600"
		     width="98%"
		     start-zoom-adjust="0"
		     start-at-end="false"
		     start-at-slide="0"
		     hash-bookmark="false"
		     lang="en"
		     thumbnail-url="http://vila.pacificpolicy.org:3030/"
		     state="timelineValues"
		     debug="false"></pipp-timeline-j-s>
</div>
