<div id="tag-header" class="row-fluid">
  <div class="span8">

    <h1>Contacts for Candy Basket</h1>

    <p>
      For more information, please contact:
    </p>
    
    <table>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Organisation</th>
	  <th>Title</th>
	  <th>Issue</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>Louise Shaxson</td>
	  <td>ODI</td>
	  <td>Research Fellow</td>
	  <td>Outcome mapping / Feedback and general support</td>
	</tr>
	<tr>
	  <td>Dan McGarry</td>
	  <td>PiPP</td>
	  <td>Chief technologist</td>
	  <td>Technical support</td>
	</tr>
	<tr>
	  <td>Derek Brien</td>
	  <td>PiPP</td>
	  <td>Executive Director and co-founder</td>
	  <td>Outcome mapping</td>
	</tr>
	<tr>
	  <td>Maya Goldman</td>
	  <td>ODI</td>
	  <td>Volunteer Intern</td>
	  <td>Feedback and general support</td>
	</tr>
      </tbody>
    </table>

  </div>
</div>
